/Clase1Foro4/nbproject/private/
/Clase1Foro4/build/
/Clase1Foro3/build/
/Clase2Foro1/nbproject/private/
/Clase2Foro1/build/
/Clase2Foro1/dist/
/Tapiceria/nbproject/private/
/Tapiceria/build/
/Clase2Foro2/build/